<li class="list-group-item"> <%- data %>
    <!-- Default switch -->

    <button onclick="removeFilter('<%- data %>')" class="btn btn-outline-primary float-right" type="button"
        data-ripple-color="dark">
        Remove Filter
    </button>
</li>