<div class="card mt-1">
    <div class="card-body">

        <% data.installs.forEach(function( install){ %>
            <li>
                <%= install.installLocation %>
                    <%= install._profile %>
            </li>
            <% }) %>

                <p class="card-text">


                </p>
    </div>
</div>