<div class="">

    <!-- Collapsed content -->
    <div class="collapse" id="collapseCustomInstall">
        <form class="col-md d-flex input-group w-auto">
            <input id="filePath" type="filter" class="form-control text-light bg-dark" placeholder="Path to exe or log File" value="G:/Software/Games/EpicGames/SatisfactoryEarlyAccess/FactoryGame.exe" aria-label="Search" />
            <button onclick="openDialog()" class="btn btn-outline-primary text-light" type="button" data-ripple-color="dark">
                Search File
            </button>
        </form>
    </div>



</div>