<li class="list-group-item"> <%- data %>
    <button onclick="addFilter('<%- data %>')" class="btn btn-outline-primary float-right" type="button"
        data-ripple-color="dark">
        Add Filter
    </button>
</li>